motion_sources/lafan1/.git/lfs/objects/ea/91/ea918082b500a5d158e9d3aa39039df04cd42e25f5c02fe8f7e88e8e9365a977
motion_sources/lafan1/.git/lfs/objects/ec/c3/ecc3276f8a1d3c6105e88e191fef7abc83a9bc2ff3909b73488e13237e786d47
motion_sources/lafan1/c3d/lafan1_c3d.zip
motion_sources/lafan1/lafan1/lafan1.zip
motion_sources/xGMR/.git/objects/pack/pack-dfdc46cc7eae2684b2879af165b4052ece95ed3b.pack
my-tienkung-robot/.git/lfs/objects/25/f5/25f5e91bb8c46fb5584d299e0720e23d43ed701e48c8dec61abfaaca9b8ed69c
my-tienkung-robot/logs/walk/2026-07-13_17-14-43/events.out.tfevents.1783934083.eai-pro.14268.0
my-xmimic/xMimic/.git/lfs/objects/f9/67/f967aebd135f794083453760b44c50a23e9ce9344c9f11974d2e060035e35ad5
my-xmimic/xMimic/.git/lfs/objects/fa/93/fa93329044d9cb4bd6640063545c120834c4ed0f11579313f872c644c4d02427
my-xmimic/xMimic/artifacts/2026-07-28_dance1_4096_iter50000_resume/training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-06_weibst_hard_50000_full_pipeline/stage1_training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/01_fall_getup/training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/02_fight_sports/stage1_training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/03_jumps/stage1_training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/04_ground/stage1_training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/05_push_stumble/stage1_training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/06_fight/stage1_training_analysis/scalars.csv
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/automatic_pipeline.log
my-xmimic/xMimic/artifacts/2026-08-07_lafan6_full_pipeline/strict_remediation.log
my-xmimic/xMimic/artifacts/2026-08-13_fight_sports_subject4_long_150s_full_pipeline/automatic_pipeline.log
my-xmimic/xMimic/artifacts/mujoco_monitor/2026-08-06_dance2_watch_02/rosbag_full/rosbag_full_0.db3
my-xmimic/xMimic/logs/rsl_rl/dex_evt_flat/2026-08-06_14-51-28_weibst_hard_state_feedback_full13p27_4096_stage1_iter40000/events.out.tfevents.1785999108.eai-pro.58377.0
my-xmimic/xMimic/logs/rsl_rl/dex_evt_flat/2026-08-07_12-14-22_fall_getup1_subject2_state_feedback_full18p36_4096_iter50000/events.out.tfevents.1786076082.eai-pro.105977.0
my-xmimic/xMimic/logs/rsl_rl/dex_evt_flat/2026-08-08_02-38-59_lafan6_fight_sports_state_feedback_full_19.39s_4096_stage1_iter40000/events.out.tfevents.1786127960.eai-pro.174074.0
my-xmimic/xMimic/logs/rsl_rl/dex_evt_flat/2026-08-08_15-53-39_lafan6_jumps_state_feedback_full_21.89s_4096_stage1_iter40000/events.out.tfevents.1786175638.eai-pro.207781.0
my-xmimic/xMimic/logs/rsl_rl/dex_evt_flat/2026-08-09_05-10-55_lafan6_ground_state_feedback_full_24.39s_4096_stage1_iter40000/events.out.tfevents.1786223475.eai-pro.242470.0
my-xmimic/xMimic/logs/rsl_rl/dex_evt_flat/2026-08-09_19-26-39_lafan6_push_stumble_state_feedback_full_19.39s_4096_stage1_iter40000/events.out.tfevents.1786274819.eai-pro.276521.0
my-xmimic/xMimic/logs/rsl_rl/dex_evt_flat/2026-08-10_08-40-45_lafan6_fight_state_feedback_full_19.39s_4096_stage1_iter40000/events.out.tfevents.1786322464.eai-pro.310663.0
.git_backup/
